flows - NodeRED.json
[{"id":"253d7765.6ec438","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1c594c6c.9eefa4","type":"ui_form","z":"253d7765.6ec438","name":"","label":"","group":"5893dd1b.6b3084","order":4,"width":0,"height":0,"options":[{"label":"Average heart beats per minute","value":"avghb","type":"number","required":true,"rows":null},{"label":"Palpitations per day","value":"ppd","type":"number","required":true,"rows":null},{"label":"Cholestrol","value":"chol","type":"number","required":true,"rows":null},{"label":"Body mass index (BMI)","value":"bmi","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Exercise minutes per week","value":"emw","type":"number","required":true,"rows":null}],"formValue":{"avghb":"","ppd":"","chol":"","bmi":"","age":"","emw":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":130,"y":120,"wires":[["59801bd4.dc2db4"]]},{"id":"8af44f39.0afd4","type":"ui_dropdown","z":"253d7765.6ec438","name":"","label":"Sex:","tooltip":"","place":"Select option","group":"5893dd1b.6b3084","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Male","value":"M","type":"str"},{"label":"Female","value":"F","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":130,"y":340,"wires":[["efe52166.cf8dc"]]},{"id":"b8ccd6c.12adf28","type":"ui_dropdown","z":"253d7765.6ec438","name":"","label":"Do you have a family history of heart failure?","tooltip":"","place":"Select option","group":"5893dd1b.6b3084","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Yes","value":"Y","type":"str"},{"label":"No","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":250,"y":400,"wires":[["ca2304f8.c2a778"]]},{"id":"54f585ab.c598fc","type":"ui_dropdown","z":"253d7765.6ec438","name":"","label":"Did you smoke in the last 5 years?","tooltip":"","place":"Select option","group":"5893dd1b.6b3084","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Yes","value":"Y","type":"str"},{"label":"No","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":220,"y":460,"wires":[["201bd80c.9bc2a8"]]},{"id":"cec05653.9b6248","type":"debug","z":"253d7765.6ec438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":400,"wires":[]},{"id":"9581704d.7a02f","type":"debug","z":"253d7765.6ec438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":460,"wires":[]},{"id":"51c35015.b2f3c","type":"debug","z":"253d7765.6ec438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":60,"wires":[]},{"id":"869c6a86.35b568","type":"debug","z":"253d7765.6ec438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":340,"wires":[]},{"id":"59801bd4.dc2db4","type":"function","z":"253d7765.6ec438","name":"Global varibables","func":"global.set(\"avghb\",msg.payload.avghb)\nglobal.set(\"ppd\",msg.payload.ppd)\nglobal.set(\"chol\",msg.payload.chol)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"emw\",msg.payload.emw)\nvar apikey= \"D-KyWXsHrk-gch-75J3-GNoIertUfAkQi4lmN9P2_OnB\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}                            \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":120,"wires":[["51c35015.b2f3c","d13ce6c3.f0bc48"]]},{"id":"efe52166.cf8dc","type":"function","z":"253d7765.6ec438","name":"Sex","func":"global.set(\"sex\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":340,"wires":[["869c6a86.35b568"]]},{"id":"ca2304f8.c2a778","type":"function","z":"253d7765.6ec438","name":"Family history","func":"global.set(\"family\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":400,"wires":[["cec05653.9b6248"]]},{"id":"201bd80c.9bc2a8","type":"function","z":"253d7765.6ec438","name":"Smoking","func":"global.set(\"smoking\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":460,"wires":[["9581704d.7a02f"]]},{"id":"7639e138.8c57d","type":"function","z":"253d7765.6ec438","name":"code","func":"var avghb=global.get(\"avghb\")\nvar ppd=global.get(\"ppd\")\nvar chol=global.get(\"chol\")\nvar bmi=global.get(\"bmi\")\nvar age=global.get(\"age\")\nvar emw=global.get(\"emw\")\nvar sex=global.get(\"sex\")\nvar family=global.get(\"family\")\nvar smoking=global.get(\"smoking\")\nvar token=msg.payload.access_token\nmsg.headers={\"Content-Type\": \"application/json\",\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\n\t\"input_data\": [\n\t\t{\n\t\t\t\"fields\": [\n\t\t\t\t\"AVGHEARTBEATSPERMIN\",\n\t\t\t\t\"PALPITATIONSPERDAY\",\n\t\t\t\t\"CHOLESTEROL\",\n\t\t\t\t\"BMI\",\n\t\t\t\t\"AGE\",\n\t\t\t\t\"SEX\",\n\t\t\t\t\"FAMILYHISTORY\",\n\t\t\t\t\"SMOKERLAST5YRS\",\n\t\t\t\t\"EXERCISEMINPERWEEK\"\n\t\t\t],\n\t\t\t\"values\": [\n\t\t\t\t[\n\t\t\t\t\tavghb,\n\t\t\t\t\tppd,\n\t\t\t\t\tchol,\n\t\t\t\t\tbmi,\n\t\t\t\t\tage,\n\t\t\t\t\tsex,\n\t\t\t\t\tfamily,\n\t\t\t\t\tsmoking,\n\t\t\t\t\temw\n\t\t\t\t]\n\t\t\t]\n\t\t}\n\t]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":220,"wires":[["25a9de01.66a342"]]},{"id":"fe4f25f0.62b418","type":"function","z":"253d7765.6ec438","name":"predict func","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":260,"wires":[["a29fc966.eee708","57ba7d03.49a214"]]},{"id":"d13ce6c3.f0bc48","type":"http request","z":"253d7765.6ec438","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":140,"wires":[["7639e138.8c57d","bdff1eb.03b6ee"]]},{"id":"bdff1eb.03b6ee","type":"debug","z":"253d7765.6ec438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"25a9de01.66a342","type":"http request","z":"253d7765.6ec438","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/46e7a768-15ce-4f20-8c2e-35d92b30fea7/predictions?version=2021-08-04","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":220,"wires":[["2737e3f4.610e7c","fe4f25f0.62b418"]]},{"id":"2737e3f4.610e7c","type":"debug","z":"253d7765.6ec438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":180,"wires":[]},{"id":"57ba7d03.49a214","type":"ui_text","z":"253d7765.6ec438","group":"5893dd1b.6b3084","order":5,"width":0,"height":0,"name":"final result","label":"Do you have a chance of heart failure?","format":"{{msg.payload}}","layout":"row-center","x":870,"y":220,"wires":[]},{"id":"a29fc966.eee708","type":"debug","z":"253d7765.6ec438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":300,"wires":[]},{"id":"5893dd1b.6b3084","type":"ui_group","name":"Enter the values","tab":"24e649de.580196","order":1,"disp":true,"width":"6","collapse":false},{"id":"24e649de.580196","type":"ui_tab","name":"Heart failure Prediction Form","icon":"dashboard","disabled":false,"hidden":false}]